# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [ ]:
import pandas as pd

In [ ]:
# Your code here

url = 'https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv'
customer_data = pd.read_csv(url)

1. Identify the dimensions of the dataset by determining the number of rows and columns it contains.

In [ ]:
customer_data.shape

2. Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.

In [ ]:
customer_data.dtypes

In [ ]:
customer_data.info()

3. Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.

In [ ]:
customer_data.nunique()

In [ ]:
customer_data.select_dtypes(include='number').max()

In [ ]:
customer_data.select_dtypes(include='number').min()

4. Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.

In [ ]:
customer_data.describe()

5. Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [14]:
customer_data[["ST"]].describe()

            ST
count     1071
unique       8
top     Oregon
freq       320

In [15]:
customer_data[["GENDER"]].describe()

       GENDER
count     954
unique      5
top         F
freq      457

In [16]:
customer_data[["Education"]].describe()

       Education
count       1071
unique         6
top     Bachelor
freq         324

In [17]:
customer_data[["Number of Open Complaints"]].describe()

       Number of Open Complaints
count                       1071
unique                         6
top                       1/0/00
freq                         830

In [18]:
customer_data[["Policy Type"]].describe()

          Policy Type
count            1071
unique              3
top     Personal Auto
freq              780

In [19]:
customer_data[["Vehicle Class"]].describe()

        Vehicle Class
count            1071
unique              6
top     Four-Door Car
freq              576

In [20]:
customer_data[["ST"]].value_counts()

ST
Oregon        320
California    211
Arizona       186
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

In [21]:
customer_data[["GENDER"]].value_counts()

GENDER
F         457
M         413
Male       39
female     28
Femal      17
Name: count, dtype: int64

In [22]:
customer_data[["Education"]].value_counts()

Education
Bachelor                324
College                 313
High School or Below    296
Master                   94
Doctor                   37
Bachelors                 7
Name: count, dtype: int64

In [23]:
customer_data[["Number of Open Complaints"]].value_counts()

Number of Open Complaints
1/0/00                       830
1/1/00                       138
1/2/00                        50
1/3/00                        34
1/4/00                        13
1/5/00                         6
Name: count, dtype: int64

In [24]:
customer_data[["Policy Type"]].value_counts()

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [25]:
customer_data[["Vehicle Class"]].value_counts()

Vehicle Class
Four-Door Car    576
Two-Door Car     205
SUV              199
Sports Car        57
Luxury SUV        20
Luxury Car        14
Name: count, dtype: int64

## Challenge 2: analyzing the data

### Exercise 1

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [26]:
# Your code here
customer_locations = customer_data["ST"]

In [27]:
customer_locations_freq  = customer_locations.value_counts()

In [28]:
customer_locations_freq[-5:]

ST
Cali          120
Nevada         98
Washington     81
WA             30
AZ             25
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [29]:
# Your code here
policies = customer_data["Policy Type"]

In [30]:
total_policies = policies.value_counts()

In [31]:
total_policies

Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

In [32]:
max(total_policies.index)

'Special Auto'

In [33]:
max(total_policies)

780

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [34]:
# Your code here
personal_auto = customer_data.loc[customer_data['Policy Type'] == 'Personal Auto']
coperate_auto = customer_data.loc[customer_data['Policy Type'] == 'Corporate Auto']

In [35]:
personal_auto.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count    780.000000            780.000000          780.000000
mean   38180.698718            185.701282          404.820615
std    29952.165621           1389.378065          286.640319
min        0.000000             61.000000            0.382107
25%    12096.000000             68.000000          213.016744
50%    35211.500000             82.000000          350.626994
75%    62774.000000            109.000000          529.200000
max    99790.000000          35354.000000         2893.239678

In [38]:
coperate_auto.describe()

             Income  Monthly Premium Auto  Total Claim Amount
count    234.000000            234.000000          234.000000
mean   41390.311966            243.683761          415.606539
std    31708.868459           2305.259851          312.682978
min        0.000000             61.000000            5.395300
25%    16325.500000             68.000000          203.506316
50%    39155.500000             85.000000          376.720392
75%    69843.000000            110.000000          537.600000
max    99960.000000          35353.000000         2345.413441

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [ ]:
# Your code here